##### pip install -r requirements.txt #####

###### Requirements for MkDocs ######
mkdocs
mkdocs-material
mkdocs-mermaid2-plugin
mkdocs-macros-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-static-i18n